<!--Place the follwing in the class="container" class for nicer bootstrap formatting. #MDM-->
<div class="container">

    <h1>New Piece</h1>
    
    <%= render 'form', piece: @piece %>
    
    <%= link_to 'Back', pieces_path %>

</div>